{% extends "base-game.html" %}

{% block headline %}

{% if state.state == 'rest' %}
<h2>Раунд <span id='curround'> {{state.curround}} </span> результаты</h2>
{% else %}
<h2> Игра окончена </h2>
{% endif %}

{% endblock %}

{% block stage %}

<table class="table">
    <tbody>
        <tr> 
            <th> Игрок </th>
            <th> Слово </th>
            <th> Счёт </th>
        </tr>
        {% for player, attempt in state.usedwords %}
        <tr>
            <td> {{ player }} </td>
            <td> {{ attempt.word }} </td>
            <td>
                {{ attempt.finalscore }}
                {% if attempt.finalscore != attempt.score %}
                ({{attempt.score}})
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
