{% extends "base-game.html" %}

{% block headline %}
<h2>Раунд <span id='curround'> {{state.curround}} </span> </h2>
{% endblock %}

{% block stage %}

<div style="text-align: center">
    <form id="attempt" action="javascript:sendRoundAttempt();" class="form-inline">
        <fieldset>
            <input type="text" name="word" autofocus="autofocus">
            <input type="submit" value="Послать">
        </fieldset>
    </form>
    <div class="alert alert-error invisible" id="error">  
        <br>
    </div>

    <table class="table">
        <tr> <th></th> <th> Слово </th> <th> Счёт </th> <tr>
                <tr>
                    <th> Последняя попытка: </th>
                    <td> <span id="lastattempt_word"> ?? </span> </td>
                    <td> <span id="lastattempt_score"> ?? </span> </td>
                </tr>
                <tr>
                    <th> Лучшая попытка: </th>
                    <td> <span id="bestattempt_word"> ?? </span> </td>
                    <td> <span id="bestattempt_score"> ?? </span> </td>
                </tr>
            </table>
</div>

{% endblock %}
