{% extends "base-info.html" %} {% block content %}

<div class="content">
    <div class="span9">
        <h1> Фигляр это 15 </h1>

        <h3>Цель</h3>
       
        <p> Основная цель – придумывать слова содержащие как можно больше
        выпавших букв, и при этом меньше букв, которых на столе нет. </p>

        <h3>Ход игры</h3>

        <p> Игра состоит из 7 раундов по 45 секунд. </p>

        <p> В начале каждого раунда открываются очередные 7 карточек.
        На каждой карточке изображена буква и количество очков. </p>

        <p> Каждый игрок придумывает слово используя как открытые буквы, так и
        любые другие. За открытые буквы он получает очки по соответствующему
        числу на карточке, но одновременно за каждую букву слова теряет одно
        очко. Таким образом выгодно составлять слово используя как можно
        больше букв со стола и как можно меньше других. </p>

        <p> Допускаются только нарицательные существительные в именительном
        падеже единственного числа (множественного, при отсутствии
        единственного числа). </p>

        <p> Очки за каждую карточку на столе могут быть засчитаны лишь один
        раз для вашего слова, даже если в слове такая буква повторяется. </p>

        <p> Игрок может записать несколько слов в процессе их придумывания.
        </p>

        <p> Каждый игрок выбирает конечный вариант и отмечает сколько очков он
        набрал своим словом. После этого проверяется какие игроки составили в
        точности одинаковое слово, каждый из них получает штрафных баллов
        столько, сколько игроков с таким же словом (не учитывая себя). </p>

        <p> Всего за игру каждый составляет слово 7 раз (в каждой стопке по 7
        букв). </p>

        <h3>Определение победителя.</h3>

        <p> Выигрывает игрок набравший максимальную сумму очков по всем
        раундам.  В случае равенства, выигрывает тот, у кого из них самое
        “ценное” слово (среди всех его слов). </p>
    </div>
</div>

{% endblock %}
