{% extends "template.html" %}
{% block body %}

<h1> Фигляр это 15 </h1>

Карточная игра на составление слова из букв с оригинальными правилами.

<h3>Цель</h3>
<p>Основная цель – придумать слово содержащее как можно больше выпавших
букв, и при этом меньше букв, которых на столе нет.

<h3>Ход игры</h3>
<p> Откройте верхнюю карту каждой колоды и 
засеките 45 секунд. 

<p>
Каждый игрок придумывает слово 
используя как открытые буквы, так и любые 
другие. За буквы лежащие на столе он 
получает очки по числу на карточке, но 
одновременно за каждую букву слова теряет 
одно очко. Таким образом выгодно 
составлять слово используя как можно 
больше букв со стола и как можно меньше 
других. 

<p>
Допускаются только нарицательные существительные в именительном падеже 
единственного числа (множественного, при отсутствии единственного числа). 

<p>
Очки за каждую карточку на столе могут быть засчитаны лишь один раз для вашего 
слова, даже если в слове такая буква повторяется. 

<p>
Игрок может записать несколько слов в процессе их придумывания. 

<p>
Каждый игрок выбирает конечный вариант и отмечает сколько очков он набрал своим 
словом. После этого проверяется какие игроки составили в точности одинаковое 
слово, каждый из них получает штрафных баллов столько, сколько игроков с таким же 
словом (не учитывая себя). 

<p>
После учета штрафных баллов карточки убираются вниз колоды. Затем открываются 
новые 7 карточек и всё повторяется. 

<p>
Всего за игру каждый составляет слово 7 раз (в каждой стопке по 7 букв). 

<h3>Определение победителя.</h3>
Выигрывает игрок набравший максимальную сумму очков по всем словам.
В случае равенства, выигрывает тот, у кого из них самое “ценное” слово (среди всех его слов).

{% endblock %}
